@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Saira+Stencil+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "animations.scss";
@import "types.scss";

@layer utilities {
  html {
    @apply overflow-scroll overflow-x-hidden scroll-smooth font-montserrat;
  }
  .srz-layout {
    @apply mx-auto w-full max-w-7xl px-5 sm:px-8 lg:px-20;
  }
  .animate-once {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.pokedex-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 70% 50%, 20% 100%, 0 100%);
}

.pokedex-screen-clip-path {
  clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 80%, 0 0);
}
