.type {
  &-normal {
    background-color: #a8a878;
    &-light {
      background-color: #c6c6a7;
    }
    &-dark {
      background-color: #6d6d4e;
    }
  }
  &-fire {
    background-color: #f08030;
    &-light {
      background-color: #f5ac78;
    }
    &-dark {
      background-color: #9c531f;
    }
  }
  &-water {
    background-color: #6890f0;
    &-light {
      background-color: #9db7f5;
    }
    &-dark {
      background-color: #445e9c;
    }
  }
  &-electric {
    background-color: #f8d030;
    &-light {
      background-color: #fae078;
    }
    &-dark {
      background-color: #a1871f;
    }
  }
  &-grass {
    background-color: #78c850;
    &-light {
      background-color: #a7db8d;
    }
    &-dark {
      background-color: #4e8234;
    }
  }
  &-ice {
    background-color: #98d8d8;
    &-light {
      background-color: #bce6e6;
    }
    &-dark {
      background-color: #638d8d;
    }
  }
  &-fighting {
    background-color: #c03028;
    &-light {
      background-color: #d67873;
    }
    &-dark {
      background-color: #7d1f1a;
    }
  }
  &-poison {
    background-color: #a040a0;
    &-light {
      background-color: #c183c1;
    }
    &-dark {
      background-color: #682a68;
    }
  }
  &-ground {
    background-color: #e0c068;
    &-light {
      background-color: #ebd69d;
    }
    &-dark {
      background-color: #927d44;
    }
  }
  &-flying {
    background-color: #a890f0;
    &-light {
      background-color: #c6b7f5;
    }
    &-dark {
      background-color: #6d5e9c;
    }
  }
  &-psychic {
    background-color: #f85888;
    &-light {
      background-color: #fa92b2;
    }
    &-dark {
      background-color: #a13959;
    }
  }
  &-bug {
    background-color: #a8b820;
    &-light {
      background-color: #c6d16e;
    }
    &-dark {
      background-color: #6d7815;
    }
  }
  &-rock {
    background-color: #b8a038;
    &-light {
      background-color: #d1c17d;
    }
    &-dark {
      background-color: #786824;
    }
  }
  &-ghost {
    background-color: #705898;
    &-light {
      background-color: #a292bc;
    }
    &-dark {
      background-color: #493963;
    }
  }
  &-dragon {
    background-color: #7038f8;
    &-light {
      background-color: #a27dfa;
    }
    &-dark {
      background-color: #4924a1;
    }
  }
  &-dark {
    background-color: #705848;
    &-light {
      background-color: #a29288;
    }
    &-dark {
      background-color: #49392f;
    }
  }
  &-steel {
    background-color: #b8b8d0;
    &-light {
      background-color: #d1d1e0;
    }
    &-dark {
      background-color: #787887;
    }
  }
  &-fairy {
    background-color: #ee99ac;
    &-light {
      background-color: #f4bdc9;
    }
    &-dark {
      background-color: #9b6470;
    }
  }
}
